---
import Default from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { webSiteSchema } from '../lib/schema'
import { getCollection } from 'astro:content'
import dayjs from '../lib/dayjs'
import isSameOrAfter from 'dayjs/plugin/isSameOrAfter'

dayjs.extend(isSameOrAfter)

const posts = await getCollection('blogs') 

const sorted = [...posts].sort((a, b) => dayjs(b.data.publishedAt).diff(a.data.publishedAt))
---

<Default jsonLdSchema={webSiteSchema}>
  <header class="h-64 md:h-90 p-6 rounded-md backdrop-blur-md text-neutral-100 text-shadow-lg overflow-hidden bg-neutral-900">
    <div class="absolute w-full h-full inset-0 -z-10 bg-[url(https://asset2.asayake.dev/thumb/jihanki.webp)] bg-cover bg-bottom"></div>
  </header>
  <section class="mt-6">
    <ul class="flex flex-col gap-4">
      {
        sorted.map((post) => (
          <li>
            <a
              href={`/article/${post.id}/`}
              class="block p-3 rounded-md bg-neutral-800/60 ring-neutral-100/30 hover:bg-neutral-600 transition ease-in duration-100 hover:cursor-pointer"
            >
              <span class="text-sm">
                <FormattedDate date={post.data.publishedAt ?? ''} format="YYYY-MM-DD" />
              </span>
              <h2 class="mt-1 text-base font-medium" aria-label="記事タイトル">{post.data.title}</h2>
              <p class="mt-1 text-sm italic text-neutral-400" aria-label="記事概要">{post.data.description}</p>
              <ul class="mt-1 flex flex-wrap gap-x-2 text-sm" aria-label="タグ">
                {post.data.tags?.map((tag) => (
                  <li>
                    <span>#{tag.name}</span>
                  </li>
                ))}
              </ul>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Default>
