---
import '@fontsource-variable/m-plus-1-code'
import '@fontsource/dotgothic16'

import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate } = Astro.props
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto px-4 max-w-[800px]">
      <article>
        <header class="pb-6 border-b border-neutral-500 border-dotted">
          <h1 class="font-title">{title}</h1>
          <dl class="mt-6">
            <dt class="text-neutral-500">created_at:</dt>
            <dd><FormattedDate date={pubDate} format='YYYY-MM-DD' /></dd>
            {updatedDate && (
                <dt class="mt-3 text-neutral-500">updated_at:</dt>
                <dd><FormattedDate date={updatedDate} format='YYYY-MM-DD' /></dd>
              )
            }
          </dl>
        </header>

        <section class="content mt-6">
          <slot />
        </section>
      </article>

      <nav class="mt-6 py-4 border-t border-neutral-600 border-dotted" aria-label="記事一覧へ戻る">
        <a
          href="/"
          class="text-neutral-500 underline underline-offset-4 decoration-neutral-400 hover:decoration-rose-500 decoration-1 mb-1 transition hover:text-rose-500 ease-in hover:cursor-pointer"
        >
          back_to_list
        </a>
      </nav>
    </main>
    <Footer />
  </body>
</html>
