---
import '@fontsource-variable/m-plus-1-code'
import '@fontsource/dotgothic16'

import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, isCW } = Astro.props
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="container mx-auto px-4 max-w-[800px] font-main">
    <Header />
    <main>
      <article>
        <header class="min-h-80 p-6 rounded-md backdrop-blur-md text-neutral-100 text-shadow-md overflow-hidden">
          <div class="absolute inset-0 -z-10 bg-[url(https://asset2.asayake.dev/thumb/danchi.webp)] bg-cover transition blur-xs"></div>
          <h1 id="article_title" class="font-title tracking-wider text-shadow-lg">{title}</h1>
          <dl class="mt-4">
            <dt class="">created_at</dt>
            <dd><FormattedDate date={pubDate} format='YYYY-MM-DD' /></dd>
            {updatedDate && (
                <dt class="mt-3">updated_at</dt>
                <dd><FormattedDate date={updatedDate} format='YYYY-MM-DD' /></dd>
              )
            }
          </dl>
        </header>
        {isCW ? (
          <details class="group mt-6">
            <summary class="p-6 list-none border border-amber-900 select-none hover:cursor-pointer">この記事にはネガティブな要素が含まれる可能性があります。(クリックして開く)</summary>
            <section class="content mt-6">
              <slot />
            </section>
          </details>
        ) : (
          <section class="content mt-6">
            <slot />
          </section>
        )}
      </article>

      <nav class="flex justify-between mt-6 py-4 border-t border-neutral-600 border-dotted" aria-label="記事一覧へ戻る">
        <a
          href="/"
          class="text-neutral-300 underline underline-offset-4 decoration-neutral-400 hover:decoration-rose-500 decoration-1 duration-100 transition hover:text-rose-500 ease-in hover:cursor-pointer"
        >
          Back to list
        </a>
        <a
          href="#article_title"
          class="text-neutral-300 underline underline-offset-4 decoration-neutral-400 hover:decoration-rose-500 decoration-1 duration-100 transition hover:text-rose-500 ease-in hover:cursor-pointer"
        >
          ^
        </a>
      </nav>
    </main>
    <Footer />
  </body>
</html>
